<!-- Main Sidebar Container -->
<aside class="main-sidebar">
  <div class="main-menu-collapse position-relative mb-3">
    <span (click)="toggleSidebar()" class="text-white">
      <i
        [ngClass]="{ 'fa-bars': !toggle, 'fa-times': toggle }"
        class="fa fa-2x"
        aria-hidden="true"
      ></i>
    </span>
  </div>

  <div class="side-navigation-container">
    <div class="menu-left">
      <div>
        <ul class="side-navigation-menu w-100 p-0">
          <li>
            <a
              class="d-flex w-100 align-items-center"
              [routerLink]="['/feature-module-1']"
              [routerLinkActive]="['is-active']"
            >
              <span class="mr-3">
                <i class="nav-icon fa fa-home fa-lg"></i>
              </span>
              <div class="menu-content" [ngClass]="{ display: toggle }">
                <p class="m-0 text-left">Menu 1</p>
              </div>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="d-flex w-100 align-items-center"
              [routerLink]="['/feature-module-2']"
              [routerLinkActive]="['is-active']"
            >
              <span class="mr-3">
                <i class="nav-icon fa fa-user-circle fa-lg"></i>
              </span>
              <div class="menu-content" [ngClass]="{ display: toggle }">
                <p class="m-0 text-left">
                  Menu 2
                  <span class="right badge badge-danger">New</span>
                </p>
              </div>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="d-flex w-100 align-items-center"
              [routerLink]="['/feature-module-3']"
              [routerLinkActive]="['is-active']"
            >
              <span class="mr-3">
                <i class="nav-icon fa fa-cloud fa-lg"></i>
              </span>
              <div class="menu-content" [ngClass]="{ display: toggle }">
                <p class="m-0 text-left">Menu 3</p>
              </div>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="d-flex w-100 align-items-center"
              [routerLink]="['/feature-module-4']"
              [routerLinkActive]="['is-active']"
            >
              <span class="mr-3">
                <i class="nav-icon fa fa-database fa-lg"></i>
              </span>
              <div class="menu-content" [ngClass]="{ display: toggle }">
                <p class="m-0 text-left">Menu 4</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>
