.main-sidebar {
  min-height: 100%;
  width: 60px;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  // overflow-x: hidden;
  transition: 0.5s;
  padding-top: 15px;
}

.active {
  width: 300px;
}
