::ng-deep .p-datatable .p-datatable-thead > tr > th {
  background: #000000;
  color: #ffffff;
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #000000;
  color: #ffffff;
}

::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  background: #000000;
  color: #ffffff;
}
